* {
  box-sizing: border-box;
}
.signin {
  background-image: url(../images/Login.jpg);
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  //overflow: hidden !important;
  font-family: "Open Sans";
  background-size: cover;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 0.8fr;
  //grid-gap: 10px !important;
  .signin_child1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;
    .login_image {
      margin-top: 12em;
      //margin-left: 10em;
      max-width: 100%;
    }
    .loginpage_intro {
      p {
        color: rgba(255, 255, 255, 255);
        font-size: 1em;
        font-weight: 400;
        padding: 0em;
        width: 50%;
        margin-left: 16em;
      }
      h3 {
        color: rgba(255, 255, 255, 255);
        font-size: 1.777em;
        font-weight: 600;
        display: none;
      }
    }
    .login_responsive {
      display: none;
    }
  }
  .signin_child2 {
    grid-row: 1 / 2;
    grid-column: 2 / 2;
    justify-items: center;
    margin-top: 11rem;
    padding-left: 3em !important;
    padding-right: 3em !important;
    .login_form {
      padding: 1.8em !important;
      width: 100%;
      background-color: rgba(255, 255, 255, 255);
      .login_heading {
        margin-left: 0em !important;
        color: $primary-teal-blue !important;
        font-size: 3.157em !important;
        font-weight: 700;
        text-align: center;
      }
      .login_button {
        background-color: $primary-teal-blue !important;
        color: rgba(255, 255, 255, 255);
        width: 40%;
        //justify-items: center !important;
        //align-items: center ;
        font-size: 1.333em;
        font-weight: bold;
        padding: 6px 16px;
        border: 3px solid $primary-teal-blue;
        margin: auto;
        // margin-top: 1em !important;
        //margin-left: 6em !important;
        text-transform: capitalize;
      }

      .login_labels {
        color: black !important;
        //margin-left: 3em;
        margin-top: 0.8em;
        font-family: "Open Sans";
        font-weight: 400 !important;
        font-size: 1em !important;
      }

      .forgot_password {
        color: black !important;
        text-decoration: underline !important;
        text-align: right !important;
        //margin-left: 22em;
        margin-top: 1em !important;
      }
      .new_member {
        text-align: center;
        //margin-left: 9.5em !important;
        margin-top: 2em !important;
        letter-spacing: 0.1em;
        a {
          color: $primary-teal-blue;
        }
      }

      .login_input {
        //swidth: 108% !important;
        //margin-left: 3em !important;
        //padding: 20px !important;
        margin-top: 1em !important;
        //padding-left: 2em !important;
      }
    }
  }
}

/******************************************************Responsive Media Queries******************************************************************/
@media screen and (min-width: 320px) and (max-width: 480px) {

  .signin {
    display: grid;
    grid-template-columns: 1fr !important;
    background-size: 100% 100% !important;
    grid-template-rows: 1fr !important;
    overflow: hidden !important;
    padding: 0px !important;

    .signin_child1 {
      grid-row: 1 / 2;
      display: block;
      width: 100%;
      //height: 200px !important;
      grid-column: 1 / 2;
      margin-top: 3em;
      margin-bottom: 0em;
      padding: 0em !important;
      .login_responsive {
        display: block;
        margin-top: 5em;
        //align-items: center;
        margin: auto !important;

        //margin-left: 13em;
      }
      .login_image {
        display: none;
      }
      .loginpage_intro {
        h3 {
          display: block;
          text-align: center !important;
          margin-left: 0em !important;
        }
      }
      .loginpage_intro {
        p {
          display: none;
        }
      }
    }
    .signin_child2 {
      grid-row: 1 / 2;
      display: block;
      width: 100% !important;
      grid-column: 1 / 1;
      margin-top: 0em !important;
      // margin-top: 10em;

      .login_form {
        background-color: transparent !important;
        margin-top: 10em !important;
        width: 100% !important;
        .login_labels {
          color: rgba(255, 255, 255, 255) !important;
          margin-left: 0em !important;
          font-family: "Open Sans" !important;
          font-weight: 400 !important;
          font-size: 1em !important;
        }
        .login_input {
          width: 100% !important;
          background-color: rgba(255, 255, 255, 255);
          margin-left: 0em !important;
          border-radius: 6px;
        }
        
        .login_heading {
          margin-top: 0em !important;
          //margin-left: 1em !important;
          text-align: center !important;
        }
        .forgot_password {
          color: white !important;
          margin-left: 0em !important;
          text-align: right;
        }
        .login_button {
          font-size: 1.4em;
          margin: auto !important;
          color: white;
          margin-top: 1em !important;
          border-radius: 15px !important;
          // align-content: center;
        }
        .new_member {
          margin: auto !important ;
          margin-top: 2em !important;
          //margin: 0em !important;
          //text-align: left !important;
          //display: block !important;
          color: rgba(255, 255, 255, 255);
          a {
            color: rgba(255, 255, 255, 255);
          }
        }
      }
    }
  }
}
/**************************************************************************************************************************************************/
@media screen and (min-width: 481px) and (max-width: 1024px){
  .signin{
    display: grid;
    grid-template-columns: 1fr !important;
    background-size: 100% 100% !important;
    grid-template-rows: 1fr 1fr 0.3fr !important;
    //overflow: hidden !important;
    padding: 0px !important;
    .signin_child1{
      grid-row: 1 / 2;
      display: block;
      width: 100%;
      margin-top: 0em !important;
      //height: 200px !important;
      grid-column: 1 / 1;
      .loginpage_intro{
        p{
          margin: auto !important;
        }
      }
    }
    .signin_child2{
      grid-row: 2 / 2;
      display: block;

      grid-column: 1 / 1;
      margin-top: 0em !important;
      padding-left: 3em !important;
      // margin-top: 0em !important;
      .login_form{
        width: 100% !important;

      }
    }
  }
}
