

/*****************************************************/
/*                      import                       */
/*****************************************************/

@import 'Variables';
@import 'Reset';



/*****************************************************/
/*                      Nav.js                       */
/*****************************************************/



header {
    position:relative;
  }
  
.userBox {
  position: absolute;
  top: 15px;
  right: 20px;
  color: white;
}

.logo {
  display:block;
  img {
    height: 40px;
  }
}

.listStyle {
  &:hover {
    background-color: $primary-teal-blue !important;
    span {
      color:#fff !important;
    }
  }
  svg {
    width: 22px;
    height: 22px;
    margin:0 20px 0 35px;
  }
  .lineHeight {
    padding-top: 5px;
  }
}

.menu01 {
  &:hover {
    #Rectangle_106 {
      fill: #ffffff;
    }
    #Rectangle_106-2 {
      fill: #ffffff;
    }
    #Rectangle_106-3 {
      fill: #ffffff;
    }
  }
}

.menu02 {
  &:hover {
    #Rectangle_104 {
      fill: #ffffff;
    }
    #Rectangle_105 {
      fill: #ffffff;
    }
    #Rectangle_106 {
      fill: #ffffff;
    }
    #Exclusion_4 {
      fill: #ffffff;
    }
  }
}

.menu03 {
  &:hover {
    #Rectangle_104 {
      fill: #ffffff;
    }
    #Rectangle_105 {
      fill: #ffffff;
    }
    #Rectangle_106 {
      fill: #ffffff;
    }
    #Subtraction_15 {
      fill: #ffffff;
    }
  }
}

.menu04 {
  &:hover {
    #Subtraction_16 {
      fill: #ffffff;
    }
    #Rectangle_132 {
      fill: #ffffff;
    }
    #Rectangle_133 {
      fill: #ffffff;
    }
  }
}


/*****************************************************/
/*                     Listings.js                   */
/*****************************************************/

.labelFix label {
  padding-left:25px
}
.labelFix input {
  padding-left:40px
}
.homeList {
  .homePic {
    position: relative;
    span {
      position: absolute;
      bottom:5px;
      left: 0;
      right:0;
      height: 40px;
      line-height: 40px;;
      box-sizing: border-box;
      padding: 0 10px;
      color: white;
      text-overflow: ellipsis;
      background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.PropertyList {
  h3 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .status {
    em {
      display: inline-block;
      width: 80px;
      height: 24px;
      line-height: 22px;
      border-radius: 3px;
      text-align: center;
      color: white;
      margin-bottom: 5px;
    }
  }
  .active {
    background-color: $primary-teal-blue;
    &:before{
      content: "active";
    }
  }
  .inactive {
    background-color: $secondary-grey;
    &:before{
      content: "inactive";
    }
  }
  .sold {
    background-color: #ae0306;
    &:before{
      content: "sold";
    }
  }
}


.twoColumnGrid {
  div {
    margin-bottom: 0px !important;
  }
}

.center {
  position: relative;
  color: #888;

  p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  @media (max-width: $bp-medium) {
    height: 50px;
    p {
      width:100%;
      text-align: center;
      top: 0;
      left: 0;
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
}

.addFileBox {
  width: 100%;
  height: 400px;
  position: relative;

  .addFile {
    position: absolute;
    top: 50px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 60%;
    padding: 30px 30px;
    border-radius: 3px;
    border: 1px solid #f9f9f9;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.05);
    @media (max-width: $bp-small){
      width: 90%;
    }
  }

  h3 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding-bottom: 20px;
  }

  label {
    span {
      padding: 10px 0px !important;
      width: 100% !important;
    }
  }
}

.addImage {
  div {
    height: 50% !important;
  }
  img {
    width: 100% !important;
    height: 100% !important;
  }
  label{
    width: 100% !important;
    height: 100% !important;
    display: inline-block;
    position: relative;

    span {
      padding: 0 !important;
      width: 100% !important;
      height: 100% !important;
      border-radius: 0 !important;
      background-color: $secondary-blue;
    }
  }
  .iconWhite {
    position: absolute;
    top: 34%;
    height: 50%;
    z-index: 99999;
    width: 30%;
    height: 30%;
  }

  @media (max-width: $bp-small) {
    div {
      height: auto !important;
    }
  }
}

.step {
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  margin-left: 70px;
  em {
    margin-right: 70px;
    color: #888;
  }
  .on {
    color: $primary-teal-blue;
    font-weight: bold;
  }
  @media (max-width: $bp-medium) {
    margin-left: 30px;
    em {
      margin-right: 50px;
    }
  }
}


/*****************************************************/
/*                        Grid                       */
/*****************************************************/


.tableGrid {
  img {
    width: 100%;
    height: auto;
  }
  .tableElm01 {
    padding-right: 30px;
  }
  .tableElm02 {
    padding-top: 1.1%;
  }
  @media (max-width : $bp-medium){
    .tableElm03 {
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid #ccc;
    }
  }
}


.btnWrapper {
  position: relative;
  div {
    position: absolute;
    top: 25%; 
    right: 10%;
  }
  .blockBtn {
    display: block !important;
    margin: 0 0 10px 0 !important; 
  }  
  @media (max-width: $bp-medium) {
    position: static;
    div {
      position: static;
      text-align: center;
    }
    .blockBtn {
      display: inline-block !important;
      width: 70% !important;
      padding: 10px 0;

    }
  }
}

/*****************************************************/
/*                    Realtors.js                    */
/*****************************************************/

.select {
  width: 300px;
}


.inputEdit {
  div {
    margin-bottom: 2px;
  }
}

/*****************************************************/
/*                     Layout                        */
/*****************************************************/

.marginT {
  margin: 25px 0 0 0 !important;

}

.container {
  width: 100vw;
  height: calc(100vh - 48px) !important;
  box-sizing: border-box;
  padding: 50px 50px 0 280px;
  background:#eee;
  overflow: scroll;

  @media (max-width: $bp-small) {
    padding: 30px;
  }
}

.title {
  color: $primary-teal-blue;
  font-weight: bold !important;
  font-size: 35px !important;
  padding: 0 0 20px 0;
}


table {
  min-width: 360px !important;
}

.appbarStyle {
  background-color: $secondary-lightgrey !important;
  box-shadow: none !important;
  @media (max-width: $bp-small) {
    background-color: $primary-teal-blue !important;
  }
}


.btnStyle {
  width: 120px;
  text-align: center;
  border : 3px solid $primary-teal-blue !important;
  color: $primary-teal-blue !important;
  font-weight: bold !important;
  &:hover {
    background:$secondary-blue !important;
    border-color:$secondary-blue !important;
    color: white !important;
  }
}

.btnOn {
  background-color: $primary-teal-blue !important;
  color: white !important;
}

/*****************************************************/
/*                     Toolbar                       */
/*****************************************************/
.toolbarWrap {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr;
}
.toolbarWrap + div {
  width:100%;
}
.element01 {
  grid-row: 1/3;
  grid-column: 1/2;
  margin-right: 15px;
}
.element02 {
  grid-row: 1/3;
  grid-column: 2/3;
}
.element03 {
  grid-row: 1/3;
  grid-column: 3/4;
}
.element03{
  justify-content: flex-end;
  display: flex;
}
.element03 > span {
  display: block;
  width: 20px;
  height: 20px;
}

@media (max-width: $bp-medium) {
  .toolbarWrap {
      grid-template-rows: 2fr;
      grid-template-columns: 1fr 1fr;
      margin-bottom:8px
  }
  .element01 {
      grid-row: 2/3;
      grid-column: 1/2;
   }
  .element02 {
      grid-row: 1/2;
      grid-column: 1/3;
      margin-bottom: 15px;
   }
   .element03 {
      grid-row: 2/3;
      grid-column: 2/3;
   }
}

/*****************************************************/
/*                temporary Graph style              */
/*****************************************************/
.temSel {
  border: 1px solid#999;
  border-radius: 4px;
  padding: 10px;
  margin-right:20px;
}
.temInput {
  border: 1px solid $primary-teal-blue;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  outline: none;

}