
/*****************************************************/
/*                      import                       */
/*****************************************************/

@import 'Variables';
@import 'Reset';



/*****************************************************/
/*                      Nav.js                       */
/*****************************************************/


header {
    position:relative;
  }
  
.userBox {
  position: absolute;
  top: 15px;
  right: 20px;
  color: white;
}

.logo {
  display:block;
  img {
    height: 40px;
  }
}
.listStyle:hover {
  background-color: $primary-teal-blue !important;
}
.listStyle:hover span {
  color:#fff !important;
}

/*****************************************************/
/*                     SignIn.js                     */
/*****************************************************/
.signin{
 background-image: url(https://storage.needpix.com/rsynced_images/new-york-2420538_1280.jpg);
  height: 100vh;
  width: 100vw;
  //border: 2px Solid black;
  position: relative;
  background-repeat: no-repeat;
  font-family: 'Open Sans';
  background-size: cover;
  overflow: hidden;
}
button.MuiButton-contained {
  background-color:#2B879E;
  color: white;
  width: 40%;
  margin-top: 1rem;
  margin-left: 8rem;
  text-transform: capitalize;
}
.form {
  //background-color: red($color: #bd2121);
  margin-left: 20rem;
  position: absolute;
  top: 6rem;
  left: 20rem;
  //margin-top: 10rem;
  background-color: white;
  width: 35%;
  height: 460px;
  border: 1px Solid white;
}
h1.MuiTypography-h1 {
  margin-left: 12rem;
  margin-top: 2rem;
  color: #2B879E;
  font-size: 3.157em;
  font-weight: 700;
}

// label.MuiFormLabel-root {
//   color: black;
//   margin-left: 1.5rem;
//   margin-top: 0.8rem;
//   //font-family: 'Open Sans';
//   font-weight: 400;
//   font-size: 1em;
// }
// div.MuiFormControl-root {
//   width: 85%;
//   margin-left: 1.5rem;
//   margin-top: 0.8rem;
// }
// a.MuiTypography-root {
//   color: black;
//   text-decoration: underline;
//   margin-left: 17rem;
//   margin-top: 1rem;
//   p {
//     margin-left: 7.5rem;
//     margin-top: 2rem;
//     letter-spacing: 0.1rem;
//     a {
//       color:#2B879E;
//     }
     
//   }
  
// }





/*****************************************************/
/*                     Listings.js                   */
/*****************************************************/

.labelFix label {
  padding-left:25px
}
.labelFix input {
  padding-left:40px
}
.homeList {
  .homePic {
    position: relative;
    span {
      position: absolute;
      bottom:5px;
      left: 0;
      right:0;
      height: 40px;
      line-height: 40px;;
      box-sizing: border-box;
      padding: 0 10px;
      color: white;
      text-overflow: ellipsis;
      background: -moz-linear-gradient(bottom, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.PropertyList {
  h3 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
  }
}
/*****************************************************/
/*                        Grid                       */
/*****************************************************/


.realtorGrid {
  width: 100% !important;
  display: grid !important;
  grid-template-columns: 1fr 2fr 7fr auto !important;
  grid-template-rows: 1fr;
  div:nth-child(1) {
    grid-column: 1/2;
  }
  div:nth-child(2) {
    grid-column: 2/3;
  }
  div:nth-child(3) {
    grid-column: 3/4;
  }
  div:nth-child(4) {
    grid-column: 4/5;
  }
  @media (max-width: $bp-small) {
    grid-template-columns: 1fr 2fr 2fr !important;
    grid-template-rows: 1fr 1fr;
    div:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/3;
    }
    div:nth-child(2) {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    div:nth-child(3) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    div:nth-child(4) {
      grid-column: 2/4;
      grid-row: 2/3;
    }
  }
}

/*****************************************************/
/*                    Realtors.js                    */
/*****************************************************/

.select {
  width: 300px;
}


.inputEdit {
  div {
    margin-bottom: 2px;
  }
}

/*****************************************************/
/*                     Layout                        */
/*****************************************************/

.marginT {
  margin: 25px 0 0 0 !important;
}

.container {
  width: 100vw;
  height: calc(100vh - 48px) !important;
  box-sizing: border-box;
  padding: 50px 50px 0 280px;
  background:#eee;
  overflow: scroll;

  @media (max-width: $bp-small) {
    padding: 30px;
  }
}

.title {
  color: $primary-teal-blue;
  font-weight: bold !important;
  font-size: 28px !important;
  padding: 0 0 20px 0;
}


.blockBtn {
  display: block !important;
  width: 120px !important;
  margin: 0 0 2px 0 !important; 
  text-align: center;
}

table {
  min-width: 360px !important;
}

.appbarStyle {
  background-color: $secondary-lightgrey !important;
  box-shadow: none !important;
  @media (max-width: $bp-small) {
    background-color: $primary-teal-blue !important;
  }
}

/*****************************************************/
/*                     Toolbar                       */
/*****************************************************/
.toolbarWrap {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr;
}
.toolbarWrap + div {
  width:100%;
}
.element01 {
  grid-row: 1/3;
  grid-column: 1/2;
  margin-right: 15px;
}
.element02 {
  grid-row: 1/3;
  grid-column: 2/3;
}
.element03 {
  grid-row: 1/3;
  grid-column: 3/4;
}
.element03{
  justify-content: flex-end;
  display: flex;
}
.element03 > span {
  display: block;
  width: 20px;
  height: 20px;
}

@media (max-width: $bp-medium) {
  .toolbarWrap {
      grid-template-rows: 2fr;
      grid-template-columns: 1fr 1fr;
      margin-bottom:8px
  }
  .element01 {
      grid-row: 2/3;
      grid-column: 1/2;
   }
  .element02 {
      grid-row: 1/2;
      grid-column: 1/3;
      margin-bottom: 15px;
   }
   .element03 {
      grid-row: 2/3;
      grid-column: 2/3;
   }
}

/*****************************************************/
/*                temporary Graph style              */
/*****************************************************/
.temSel {
  border: 1px solid#999;
  border-radius: 4px;
  padding: 10px;
  margin-right:20px;
}
.temInput {
  border: 1px solid $primary-teal-blue;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  outline: none;
}