/*****************************************************/
/*                      Nav.js                       */
/*****************************************************/
header {
  position: relative; }

.signInBtn {
  color: white !important;
  position: absolute !important;
  top: 15px;
  right: 20px; }

/*****************************************************/
/*                     SignIn.js                     */
/*****************************************************/
/*****************************************************/
/*                     Listings.js                     */
/*****************************************************/
.table_ {
  padding: 50px 50px 0 280px; }

.listTit {
  margin: 0 0 40px 0 !important; }
