/*****************************************************/
/*                      import                       */
/*****************************************************/
/*****************************************************/
/*                    variables                     */
/*****************************************************/
/*****************************************************/
/*                       Reset                       */
/*****************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*****************************************************/
/*                      Nav.js                       */
/*****************************************************/
header {
  position: relative; }

.userBox {
  position: absolute;
  top: 5px;
  right: 20px;
  color: white; }
  @media (max-width: 600px) {
    .userBox {
      top: 0; } }
  .userBox span {
    line-height: 1; }
  .userBox .spanMar {
    margin: 0 10px; }
  @media (max-width: 600px) {
    .userBox .displayNone {
      display: none; } }

.alarmIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none; }
  @media (max-width: 600px) {
    .alarmIcon {
      display: block; } }

.logo {
  display: block; }
  .logo img {
    height: 40px; }

.listStyle:hover {
  background-color: #2B879E !important; }
  .listStyle:hover span {
    color: #fff !important; }

.listStyle svg {
  width: 22px;
  height: 22px;
  margin: 0 20px 0 35px; }

.listStyle .lineHeight {
  padding-top: 5px; }

.menu01:hover #Rectangle_106 {
  fill: #FFFFFF; }

.menu01:hover #Rectangle_106-2 {
  fill: #FFFFFF; }

.menu01:hover #Rectangle_106-3 {
  fill: #FFFFFF; }

.menu02:hover #Rectangle_104 {
  fill: #FFFFFF; }

.menu02:hover #Rectangle_105 {
  fill: #FFFFFF; }

.menu02:hover #Rectangle_106 {
  fill: #FFFFFF; }

.menu02:hover #Exclusion_4 {
  fill: #FFFFFF; }

.menu03:hover #Rectangle_104 {
  fill: #FFFFFF; }

.menu03:hover #Rectangle_105 {
  fill: #FFFFFF; }

.menu03:hover #Rectangle_106 {
  fill: #FFFFFF; }

.menu03:hover #Subtraction_15 {
  fill: #FFFFFF; }

.menu04:hover #Subtraction_16 {
  fill: #FFFFFF; }

.menu04:hover #Rectangle_132 {
  fill: #FFFFFF; }

.menu04:hover #Rectangle_133 {
  fill: #FFFFFF; }

.menu05 {
  visibility: hidden; }
  .menu05:hover #Subtraction_28 {
    fill: #FFFFFF; }
  .menu05:hover #Rectangle_132 {
    fill: #FFFFFF; }
  .menu05:hover #Group_1372 {
    fill: #FFFFFF; }
  @media (max-width: 600px) {
    .menu05 {
      visibility: visible; } }

/*****************************************************/
/*                     SignIn.js                     */
/*****************************************************/
.signin {
  background-image: url(https://storage.needpix.com/rsynced_images/new-york-2420538_1280.jpg);
  height: 100vh;
  width: 100vw;
  position: relative;
  background-repeat: no-repeat;
  font-family: 'Open Sans';
  background-size: cover;
  overflow: hidden; }

button.MuiButton-contained {
  background-color: #2B879E;
  color: white;
  width: 40%;
  margin-top: 1rem;
  margin-left: 8rem;
  text-transform: capitalize; }

.form {
  margin-left: 20rem;
  position: absolute;
  top: 6rem;
  left: 20rem;
  background-color: white;
  width: 35%;
  height: 460px;
  border: 1px Solid white; }

h1.MuiTypography-h1 {
  margin-left: 12rem;
  margin-top: 2rem;
  color: #2B879E;
  font-size: 3.157em;
  font-weight: 700; }

/*****************************************************/
/*                     Listings.js                   */
/*****************************************************/
.labelFix label {
  padding-left: 25px; }

.labelFix input {
  padding-left: 40px; }

.homeList .homePic {
  position: relative; }
  .homeList .homePic span {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0 10px;
    color: white;
    text-overflow: ellipsis;
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%); }
  .homeList .homePic img {
    width: 100%;
    height: 100%; }

.PropertyList h3 {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px; }

.PropertyList .status em {
  display: inline-block;
  width: 80px;
  height: 24px;
  line-height: 22px;
  border-radius: 3px;
  text-align: center;
  color: white;
  margin-bottom: 5px; }

.PropertyList .active {
  background-color: #2B879E; }
  .PropertyList .active:before {
    content: "active"; }

.PropertyList .inactive {
  background-color: #9b9a9a; }
  .PropertyList .inactive:before {
    content: "inactive"; }

.PropertyList .sold {
  background-color: #AE0306; }
  .PropertyList .sold:before {
    content: "sold"; }

.PropertyView li {
  color: #9b9a9a; }
  .PropertyView li h3 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    color: #2B879E; }

.PropertyView .propertyRealtor {
  color: #212121; }

.twoColumnGrid div {
  margin-bottom: 0px !important; }

.center {
  position: relative;
  color: #888; }
  .center p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  @media (max-width: 600px) {
    .center {
      height: 50px; }
      .center p {
        width: 100%;
        text-align: center;
        top: 0;
        left: 0;
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); } }

.addFileBox {
  width: 100%;
  height: 400px;
  position: relative; }
  .addFileBox .addFile {
    position: absolute;
    top: 50px;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width: 60%;
    padding: 30px 30px;
    border-radius: 3px;
    border: 1px solid #F9F9F9;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05); }
    @media (max-width: 600px) {
      .addFileBox .addFile {
        width: 90%; } }
  .addFileBox h3 {
    width: 100%;
    text-align: center;
    font-size: 22px;
    padding-bottom: 20px; }
  .addFileBox label span {
    padding: 10px 0px !important;
    width: 100% !important; }

.addImage div {
  height: 50% !important; }

.addImage img {
  width: 100% !important;
  height: 100% !important; }

.addImage label {
  width: 100% !important;
  height: 100% !important;
  display: inline-block;
  position: relative; }
  .addImage label span {
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    background-color: #34AAC7; }

.addImage .iconWhite {
  position: absolute;
  top: 34%;
  height: 50%;
  z-index: 99999;
  width: 30%;
  height: 30%; }

@media (max-width: 600px) {
  .addImage div {
    height: auto !important; } }

.step {
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  margin-left: 70px; }
  .step em {
    margin-right: 70px;
    color: #888; }
  .step .on {
    color: #2B879E;
    font-weight: bold; }
  @media (max-width: 960px) {
    .step {
      margin-left: 30px; }
      .step em {
        margin-right: 50px; } }

/*****************************************************/
/*                        Grid                       */
/*****************************************************/
.tableGrid img {
  width: 100%;
  height: auto; }

.tableGrid .tableElm01 {
  padding-right: 30px; }

.tableGrid .tableElm02 {
  padding-top: 1.1%; }

@media (max-width: 960px) {
  .tableGrid .tableElm03 {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #ccc; } }

.btnWrapper {
  position: relative; }
  .btnWrapper div {
    position: absolute;
    top: 25%;
    right: 10%; }
  .btnWrapper .blockBtn {
    display: block !important;
    margin: 0 0 10px 0 !important; }
  @media (max-width: 960px) {
    .btnWrapper {
      position: static; }
      .btnWrapper div {
        position: static;
        text-align: center; }
      .btnWrapper .blockBtn {
        display: inline-block !important;
        width: 70% !important;
        padding: 10px 0; } }

/*****************************************************/
/*                    Realtors.js                    */
/*****************************************************/
.select {
  width: 300px; }

.inputEdit div {
  margin-bottom: 2px; }

/*****************************************************/
/*                     Layout                        */
/*****************************************************/
.marginT {
  margin: 25px 0 0 0 !important; }

.container {
  width: 100vw;
  height: calc(100vh - 48px) !important;
  box-sizing: border-box;
  padding: 50px 50px 0 280px;
  background: #eee;
  overflow: scroll; }
  @media (max-width: 600px) {
    .container {
      padding: 30px; } }

.title {
  color: #2B879E;
  font-weight: bold !important;
  font-size: 28px !important;
  padding: 0 0 20px 0; }

table {
  min-width: 360px !important; }

.appbarStyle {
  background-color: #fafafa !important;
  box-shadow: none !important; }
  @media (max-width: 600px) {
    .appbarStyle {
      background-color: #2B879E !important; } }

.btnStyle {
  width: 120px;
  text-align: center;
  border: 3px solid #2B879E !important;
  color: #2B879E !important;
  font-weight: bold !important; }
  .btnStyle:hover {
    background: #34AAC7 !important;
    border-color: #34AAC7 !important;
    color: white !important; }

.btnOn {
  background-color: #2B879E !important;
  color: white !important; }

/*****************************************************/
/*                     Toolbar                       */
/*****************************************************/
.toolbarWrap {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr; }

.toolbarWrap + div {
  width: 100%; }

.element01 {
  grid-row: 1/3;
  grid-column: 1/2;
  margin-right: 15px; }

.element02 {
  grid-row: 1/3;
  grid-column: 2/3; }

.element03 {
  grid-row: 1/3;
  grid-column: 3/4; }

.element03 {
  justify-content: flex-end;
  display: flex; }

.element03 > span {
  display: block;
  width: 20px;
  height: 20px; }

@media (max-width: 960px) {
  .toolbarWrap {
    grid-template-rows: 2fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8px; }
  .element01 {
    grid-row: 2/3;
    grid-column: 1/2; }
  .element02 {
    grid-row: 1/2;
    grid-column: 1/3;
    margin-bottom: 15px; }
  .element03 {
    grid-row: 2/3;
    grid-column: 2/3; } }

/*****************************************************/
/*                      input                        */
/*****************************************************/
.inputStyle {
  width: 100%;
  display: block;
  padding: 19px 14px;
  border: 1px solid #c4c4c4;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  font-size: 1rem;
  line-height: 19px;
  box-sizing: border-box !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.00938em; }
  .inputStyle:hover {
    outline: none;
    border: 1px solid #212121; }
  .inputStyle:focus {
    outline: none;
    padding: 18px 13px;
    border: 2px solid #2B879E; }

/*****************************************************/
/*                temporary Graph style              */
/*****************************************************/
