/*****************************************************/
/*                      Grid.js                       */
/*****************************************************/

.container {
  width: 100vw;
  height: calc(100vh - 48px) !important;
  box-sizing: border-box;
  padding: 50px 50px 0 280px;
  background:#eee;
  overflow: scroll;
  
  .title {
    font-size: 36px !important;
    padding: 0 0 20px 0;
  }
}




/*****************************************************/
/*                      Nav.js                       */
/*****************************************************/

header {
    position:relative;
  }
  
.signInBtn {
  color: white !important;
  position: absolute !important;
  top: 15px;
  right: 20px;
}


/*****************************************************/
/*                    Realtors.js                    */
/*****************************************************/


