/*****************************************************/
/*                      Nav.js                       */
/*****************************************************/
header {
  position: relative; }

.signInBtn {
  color: white !important;
  position: absolute !important;
  top: 15px;
  right: 20px; }

/*****************************************************/
/*                     SignIn.js                     */
/*****************************************************/
