

/*****************************************************/
/*                    variables                     */
/*****************************************************/


$bp-medium : 900px;
$bp-small : 600px;
$bp-xsmall : 380px;


$primary-teal-blue: #2B879E;
$secondary-blue: #34AAC7;
$secondary-grey: #9b9a9a;
$secondary-lightgrey: #fafafa;
$secondary-coral:#fcc29a;
$secondary-lightcoral:#fde9c9;


